{% extends "base.html" %}
{% block title %} Logowanie {% endblock %}

{% block content %}
    <h1>Logowanie</h1>
    {% if form.errors %}
        <p>Nazwa użythownika lub hasło są niepoprawne. Spróbuj ponownie.</p>
    {% else %}
        <p>Wypełnij formularz, aby się zalogować.🐼</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <p><input type="submit" value="Zaloguj"></p>

        </form>
    </div>
{% endblock %}